/* === Główny arkusz styli naszej strony ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: antiquewhite;
    line-height: 1.5;
    color:rgb(23, 19, 25);
  }
  h1,
  h2,
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1;
  }
  h1{
    font-size:120px;
    margin-top:150px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  h2 {
    font-weight: 100;
    font-size: 70px;
  }
  h3 {
    margin: 5px 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* Kontener */
  .container {
    width: 1100px;
    margin: 0 auto;
  }

  
  /* Stylowanie Nawigacji i logo */
  /* Stylowanie logo */
  /* .logo {
    width: 50%;
  } */
  .fa-paintbrush {
    font-size: 50px;
    color: #bf0034;
  }
  .hero-top {
    display: flex;
    justify-content: space-between;
  }
  .navigation-link {
    margin-left:20px;
    color: #ffffff;
    text-decoration: none;
    transition: border 20ms;
  }
  .navigation-link:hover{
    border-bottom: solid 3px #bf0034;
  }
  .navigation-links {
    display: flex;
    gap: 30px;
    /* width: 400px; */
    /* justify-content: space-between; */
  }
  .mobile-menu-icon{
    display: none;
  }
  /* Header */
  .hero {
    padding-top: 50px;
    background-color: #4f247c;
    background-image: url("../images/Eule1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
  }

  .hero-text {
    font-size: 20px;
    margin-bottom: 100px;
  }
  .hero-text-wrapper {
    width: 50%;
  }
  .hero-button {
    color: white;
    border: solid 3px #bf0034;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 20px;
    transition: background-color 0.5S;
  }
  .hero-button:hover{
    background-color: #bf0034;
  }
  .hero-p {
    margin-bottom: 20px;
  }
  /* kolory sekcji */
  .section-light {
    background-color: #ffffff;
  }
  .section-purple {
    background-color: #4f247c;
  }
  .section-unique {
    background-color: #bf0034;
  }
  .section {
    padding: 100px 0;
  }
  
  .about-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about-left,
  .about-right {
    width: 48%;
  }
  .about-left{
    position: relative;
    z-index: 0;
  }
  .about-left img {
  position: absolute;
  left: 35px;
  width: 80%;
  }
  .about-left::before {
  position: absolute;
  top: -35px;
  left: 0;
  content: "";
  border: solid 20px #4f247c;
  background-color: transparent;
  width: 70%;
  height: 100%;
  z-index: -2;
  }

  .about-left::after {
  position: absolute;
  top: 30px;
  left: 60px;
  content: "";
  background-color: #bf0034;
  width: 80%;
  height: 500px;
  z-index: -1;
  }
    
  .about-right h2{
    color: #4f247c;
    margin-bottom: 20px;
  }

.about-right p{
    margin-bottom: 10px;
}
.about-text-top::first-letter{
    color: #bf0034;
}

.hobby{
    color: white;
}
.hobby-wrapper{
    display: flex;
    gap: 30px;
    text-align: center;
}
.hobby-wrapper li{
    width: 25%;
}
.hobby-wrapper i{
  font-size: 50px;
  width:30px;
  height:30px;
  padding: 25px;
  margin-bottom: 30px;
  border: solid #bf0034;
  border-radius: 50%;
}
.hobby-wrapper p{
  font-size: 16px;
}
.photos{
  text-align: center;
}
.photo-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.photo-wrapper figure{
  width: 32%;
  transition: .5s;
}
.photo-wrapper figure:hover{
  transform: scale(.95);
}
.photo-wrapper img{
  width: 100%;
  height: 240px;
  min-height: 240px;
  object-fit: cover;
}
.photo-wrapper figcaption{
  font-size: 14px;
}
.photos h2{
  color: #4f247c;
  margin-bottom: 20px;
}
.photos p{
  padding: 0 130px;
  font-size: 20PX;
  margin-bottom: 20px;
}

/* sekcja quote */

.quote{
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
blockquote{
  z-index: 1;
}
.quote::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  background-color: #4f247c;
  bottom: -150px;
  right: -50px;
  border-radius: 50%;
  z-index: -1;
}
.quote-text{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 700;
}
.quote-author{
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}
.fa-quote-left{
  color: #4f247c;
}

.contact{
  text-align: center;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 550px;
}
.contact h2{
   margin-bottom: 60px;
}
.contact label{
  text-align: left;
  margin-bottom: 5px;
}
.contact input, .contact textarea{
  margin-bottom: 10px;
  padding: 5px 15px;
  border: solid 3px #4f247c;
  border-radius: 8px;
}
textarea{
  resize: none;
}
.contact button{
  background-color: #4f247c;
  color: white;
  width: 150px;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.5s;
}
footer{
  color: white;

}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}
.footer-wrapper p:nth-child(-n+2){
  margin-bottom: 5px;
}

.footer-social-links{
  display: flex;
  gap: 25px;
}
.footer-social-links a{
  color: white;
  font-size: 30px;
  transition: 0.5s;
}
.footer-social-links a:hover{
  color: #bf0034;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .photo-wrapper figure{
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu-icon{
    display: block;
  }
  .navigation-links{
    display: none;
  }
  .opened{
    display: flex;
    flex-direction: column;
  }
  h1{
    font-size: 80px;
    margin-top: 10px;
  }
  .photo-wrapper figure {
    width: 90%
  }
  .photo-wrapper {
    justify-content: center;
  }
  .photos p{
    padding: 0;
  }
  .contact form{
    width:90%;
  }
  .hobby-wrapper{
    display: block;
}
  .hobby-wrapper li{
    width: 100%;
    margin-bottom: 35px;
  }
  .navigation-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .about-left, .about-right{
    width: 100%;
  }
  .about-right{
    margin-top: 700px;
  }
}
@media screen and (max-width: 480px){
  h1{
    font-size: 40px;
  }
  .hero-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-text-wrapper {
    width: 100%;
  }
  .hero-button {
    font-size: 18px;
  }
}
  
