*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: aliceblue;
}

h1,h2,h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* kontener */
.container {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    width: 50%;
}

.fa-paintbrush {
    font-size: 150px;
    color:#bf0034
}

.hero-top {
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    color:rgb(5, 31, 53);
    text-decoration: none;
}

.navigation-links {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

/* Header */

.hero {
    background-color: rgb(184, 247, 255);
    background-image: url("../images/photo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

/* kolory sekcji */
.section-light {
    background-color: aliceblue;
}

.section-purple {
    background-color: plum;
}

.section-unique {
    background-color: #bf0034;
}